@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #064460;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
}

ul {
  list-style: none;
}

.legend {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}

.pick-movie {
  margin: 20px 0;
}

.pick-movie select {
  font-size: 14px;
  margin-left: 10px;
  color: #0a5b7f;
  border: 0px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #e8eded;
  height: 13px;
  width: 16px;
  margin: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

seat.hover {
    
}

.seat.selected {
  background-color: #69ff88;
}

.seat.occupied {
  background-color: #ff2945;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.row {
  display: flex;
}
